In [1]:
import pandas as pd
import numpy as np
from io import StringIO 
import pyranges as pr
from numpy import array
import pybedtools

In [2]:
fimo_pred = pd.read_csv("DEm_fimo_5999.tsv",sep="\t",header=0)
fimo_pred

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
0,MA1403.1,BPC5,Gm04,688039.0,688068.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
1,MA1403.1,BPC5,Gm04,688041.0,688070.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
2,MA1403.1,BPC5,Gm19,5992817.0,5992846.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
3,MA1403.1,BPC5,Gm10,6390479.0,6390508.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
4,MA1403.1,BPC5,Gm10,6390481.0,6390510.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
...,...,...,...,...,...,...,...,...,...,...
2821886,MA1834.1,Zm00001d034298,Gm09,44942488.0,44942498.0,-,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821887,MA1834.1,Zm00001d034298,Gm02,48411270.0,48411280.0,+,10.3636,1.000000e-04,1.000000e+00,AGCCACACGCC
2821888,# FIMO (Find Individual Motif Occurrences): Ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821889,# The format of this file is described at http...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821890,# fimo --parse-genomic-coord --o DE_promoters ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
fimo_pred = fimo_pred.dropna(axis=0)
fimo_pred

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
0,MA1403.1,BPC5,Gm04,688039.0,688068.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
1,MA1403.1,BPC5,Gm04,688041.0,688070.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
2,MA1403.1,BPC5,Gm19,5992817.0,5992846.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
3,MA1403.1,BPC5,Gm10,6390479.0,6390508.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
4,MA1403.1,BPC5,Gm10,6390481.0,6390510.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
...,...,...,...,...,...,...,...,...,...,...
2821883,MA1834.1,Zm00001d034298,Gm13,39338814.0,39338824.0,+,10.3636,1.000000e-04,1.000000e+00,CGCCACGCCAG
2821884,MA1834.1,Zm00001d034298,Gm10,39720107.0,39720117.0,+,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821885,MA1834.1,Zm00001d034298,Gm10,40207250.0,40207260.0,-,10.3636,1.000000e-04,1.000000e+00,GGCCACGCCGA
2821886,MA1834.1,Zm00001d034298,Gm09,44942488.0,44942498.0,-,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821887,MA1834.1,Zm00001d034298,Gm02,48411270.0,48411280.0,+,10.3636,1.000000e-04,1.000000e+00,AGCCACACGCC

In [5]:
ERF_fimo=fimo_pred[fimo_pred['motif_alt_id'].str.contains("ERF")]
ERF_fimo

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
1126,MA1262.1,ERF2,Gm02,48022143.0,48022163.0,+,28.33330,8.910000e-14,0.000001,ccgccgccgccgccgccgcca
1153,MA1262.1,ERF2,Gm04,8034866.0,8034886.0,+,28.15150,1.210000e-13,0.000001,ccaccgccgccgccgccgccg
1178,MA1257.1,ERF9,Gm03,1549810.0,1549830.0,-,30.09090,1.280000e-13,0.000002,CGGCGGCGGCGGCGGCGGAGG
1179,MA1257.1,ERF9,Gm15,36843879.0,36843899.0,-,30.09090,1.280000e-13,0.000002,CGGCGGCGGCGGCGGCGGAGG
1188,MA1240.1,ERF10,Gm04,8034868.0,8034888.0,+,27.13640,1.590000e-13,0.000002,accgccgccgccgccgccgcc
...,...,...,...,...,...,...,...,...,...,...
2821375,MA0993.1,ERF7,Gm20,27602896.0,27602905.0,+,9.72581,1.000000e-04,1.000000,AGCCGTCAAT
2821376,MA0993.1,ERF7,Gm14,32887695.0,32887704.0,+,9.72581,1.000000e-04,1.000000,AGCCGTCAAT
2821377,MA0993.1,ERF7,Gm10,43174529.0,43174538.0,+,9.72581,1.000000e-04,1.000000,AGCCGTCAAT
2821378,MA0993.1,ERF7,Gm08,43324368.0,43324377.0,-,9.72581,1.000000e-04,1.000000,AGCCGTCAAT
2821379,MA0993.1,ERF7,Gm02,45673695.0,45673704.0,-,9.72581,1.000000e-04,1.000000,AGCCGTCAAT

In [6]:
fimo_pred_bed=ERF_fimo.drop(["motif_id","p-value","q-value","q-value","strand","score","matched_sequence"], axis=1)
fimo_pred_bed["start"]= (fimo_pred_bed["start"]).astype(int)
fimo_pred_bed["stop"]= (fimo_pred_bed["stop"]).astype(int)

fimo_pred_bed=fimo_pred_bed[["sequence_name","start","stop","motif_alt_id"]]
fimo_pred_bed

        sequence_name     start      stop motif_alt_id
1126             Gm02  48022143  48022163         ERF2
1153             Gm04   8034866   8034886         ERF2
1178             Gm03   1549810   1549830         ERF9
1179             Gm15  36843879  36843899         ERF9
1188             Gm04   8034868   8034888        ERF10
...               ...       ...       ...          ...
2821375          Gm20  27602896  27602905         ERF7
2821376          Gm14  32887695  32887704         ERF7
2821377          Gm10  43174529  43174538         ERF7
2821378          Gm08  43324368  43324377         ERF7
2821379          Gm02  45673695  45673704         ERF7

[180643 rows x 4 columns]

In [7]:
fimo_motif_scan_bed_ERF = pybedtools.BedTool.from_dataframe(fimo_pred_bed)\
              .saveas('fimo_pred_ERF_5999DEG.bed')
#print(fimo_motif_scan_bed)

In [8]:
a=fimo_motif_scan_bed_ERF

In [9]:
wrky_10w_pred = pybedtools.BedTool('ARB_ERF_19TF_DEG6000_target_windows_32bp.bed')


b=wrky_10w_pred
b

In [10]:
a_and_b = a.intersect(b,wb=True)

In [12]:
MYB_motfi_intersect = pybedtools.BedTool.to_dataframe(a_and_b)
MYB_motfi_intersect

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm05,39206476,39206492,MYB118,Gm05,39206472,39206504,Glyma.05G209600
1,Gm19,1087032,1087046,MYB3R4,Gm19,1087024,1087056,Glyma.19G011300
2,Gm19,1087047,1087056,MYB3R4,Gm19,1087024,1087056,Glyma.19G011300
3,Gm19,1087056,1087061,MYB3R4,Gm19,1087056,1087088,Glyma.19G011300
4,Gm20,41411225,41411243,MYB1,Gm20,41411214,41411246,Glyma.20G177200
...,...,...,...,...,...,...,...,...
26433,Gm13,13813043,13813059,MYB118,Gm13,13813036,13813068,Glyma.13G051000
26434,Gm12,3169793,3169805,MYB61,Gm12,3169782,3169814,Glyma.12G043900
26435,Gm08,10955580,10955592,MYB61,Gm08,10955571,10955603,Glyma.08G143000
26436,Gm17,11376997,11376998,MYB61,Gm17,11376966,11376998,Glyma.17G140200
26437,Gm02,45886375,45886382,MYB61,Gm02,45886350,45886382,Glyma.02G253200

In [58]:
#WRKY_motfi_intersect.to_csv('RAV_pred_fimo_overlap_nofilt.csv')

In [14]:
df = MYB_motfi_intersect.drop_duplicates(subset='end', keep="first")
df

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm05,39206476,39206492,MYB118,Gm05,39206472,39206504,Glyma.05G209600
1,Gm19,1087032,1087046,MYB3R4,Gm19,1087024,1087056,Glyma.19G011300
2,Gm19,1087047,1087056,MYB3R4,Gm19,1087024,1087056,Glyma.19G011300
3,Gm19,1087056,1087061,MYB3R4,Gm19,1087056,1087088,Glyma.19G011300
4,Gm20,41411225,41411243,MYB1,Gm20,41411214,41411246,Glyma.20G177200
...,...,...,...,...,...,...,...,...
26428,Gm06,22046593,22046607,MYB17,Gm06,22046581,22046613,Glyma.06G214700
26429,Gm05,29240302,29240316,MYB17,Gm05,29240291,29240323,Glyma.05G110200
26431,Gm05,36429396,36429410,MYB17,Gm05,36429387,36429419,Glyma.05G175400
26434,Gm12,3169793,3169805,MYB61,Gm12,3169782,3169814,Glyma.12G043900
26435,Gm08,10955580,10955592,MYB61,Gm08,10955571,10955603,Glyma.08G143000

In [62]:
#df.to_csv('RAV_pred_fimo_overlap_repeat_motifs_removed.csv')

In [15]:
df4 = df.drop_duplicates(subset='thickEnd', keep="first")
df4

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm05,39206476,39206492,MYB118,Gm05,39206472,39206504,Glyma.05G209600
1,Gm19,1087032,1087046,MYB3R4,Gm19,1087024,1087056,Glyma.19G011300
4,Gm20,41411225,41411243,MYB1,Gm20,41411214,41411246,Glyma.20G177200
5,Gm18,47346354,47346359,MYB27,Gm18,47346354,47346386,Glyma.18G195900
7,Gm03,1594397,1594415,MYB94,Gm03,1594387,1594419,Glyma.03G016500
...,...,...,...,...,...,...,...,...
26296,Gm10,44220019,44220029,MYB83,Gm10,44220008,44220040,Glyma.10G209500
26302,Gm08,43325753,43325767,MYB56,Gm08,43325744,43325776,Glyma.08G320400
26341,Gm06,49127243,49127257,MYB62,Gm06,49127233,49127265,Glyma.06G307000
26346,Gm02,48688930,48688944,MYB3R4,Gm02,48688923,48688955,Glyma.02G288600
26419,Gm15,10771991,10772005,MYB30,Gm15,10771984,10772016,Glyma.15G134900

In [16]:
df4.to_csv('MYB_pred_fimo_overlap_unique_gene.csv')

In [38]:
df = WRKY_motfi_intersect.drop_duplicates(subset='start', keep="first")
df

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
19,Gm16,18817401,18817414,BPC5,Gm16,18817401,18817602,Glyma.16G096600
20,Gm16,18817411,18817414,BPC5,Gm16,18817411,18817612,Glyma.16G096600
21,Gm16,18817387,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
...,...,...,...,...,...,...,...,...
3175620,Gm18,1375707,1375718,Zm00001d038683,Gm18,1375589,1375790,Glyma.18G018800
3175625,Gm06,16534868,16534879,Zm00001d038683,Gm06,16534769,16534970,Glyma.06G189500
3175706,Gm17,2018875,2018881,Zm00001d034298,Gm17,2018680,2018881,Glyma.17G027300
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800
3175719,Gm10,40207250,40207260,Zm00001d034298,Gm10,40207104,40207305,Glyma.10G166600

In [39]:
df2 = df.drop_duplicates(subset='end', keep="first")
df2

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3175608,Gm13,26081138,26081152,E2FC,Gm13,26081048,26081249,Glyma.13G152814
3175620,Gm18,1375707,1375718,Zm00001d038683,Gm18,1375589,1375790,Glyma.18G018800
3175625,Gm06,16534868,16534879,Zm00001d038683,Gm06,16534769,16534970,Glyma.06G189500
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800
3175719,Gm10,40207250,40207260,Zm00001d034298,Gm10,40207104,40207305,Glyma.10G166600

In [40]:
df3 = df2.drop_duplicates(subset='strand', keep="first")
df3

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3174700,Gm16,1997196,1997201,ATHB-53,Gm16,1997000,1997201,Glyma.16G021300
3174716,Gm16,1997200,1997206,ATHB-53,Gm16,1997200,1997401,Glyma.16G021300
3174939,Gm08,14568531,14568535,RAP2-11,Gm08,14568531,14568732,Glyma.08G180800
3175595,Gm15,50118682,50118692,SGR5,Gm15,50118491,50118692,Glyma.15G253000
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800

In [41]:
df4 = df3.drop_duplicates(subset='thickStart', keep="first")
df4

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3174700,Gm16,1997196,1997201,ATHB-53,Gm16,1997000,1997201,Glyma.16G021300
3174716,Gm16,1997200,1997206,ATHB-53,Gm16,1997200,1997401,Glyma.16G021300
3174939,Gm08,14568531,14568535,RAP2-11,Gm08,14568531,14568732,Glyma.08G180800
3175595,Gm15,50118682,50118692,SGR5,Gm15,50118491,50118692,Glyma.15G253000
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800

In [44]:


df4.to_csv('RAV_pred_fio_overlap.csv')

In [11]:
RAV_pred = pd.read_csv("~/Documents/ABI/synet/Chapter06/cross_soy_mod/pred/DEG_soy_WRKY/soy_WRKY_stride_10/soy_WKRY_DEG5999_target_windows_201bp_0.8thresh_10stride.bed",sep="\t",header=0)
RAV_pred

               Gm01  306002  306203  Glyma.01G002200
0              Gm01  306752  306953  Glyma.01G002200
1              Gm01  306762  306963  Glyma.01G002200
2              Gm01  306772  306973  Glyma.01G002200
3              Gm01  306782  306983  Glyma.01G002200
4              Gm01  348529  348730  Glyma.01G002902
...             ...     ...     ...              ...
91385  scaffold_524    5361    5562    Glyma.U039300
91386  scaffold_524    5401    5602    Glyma.U039300
91387  scaffold_524    5411    5612    Glyma.U039300
91388  scaffold_524    5421    5622    Glyma.U039300
91389  scaffold_551    3524    3725    Glyma.U039500

[91390 rows x 4 columns]

In [49]:
wrky_pred_merged = pd.read_csv("~/Documents/ABI/synet/Chapter06/cross_soy_mod/pred/DEG_soy_WRKY/merged_wrly_10_pred.bed",sep="\t",header=0)
wrky_pred_merged

              Gm01  306002  306203
0             Gm01  306752  306983
1             Gm01  348529  348900
2             Gm01  349399  349730
3             Gm01  428387  428588
4             Gm01  441150  441391
...            ...     ...     ...
6610  scaffold_138   22822   23123
6611  scaffold_138   23682   23963
6612  scaffold_138   24322   24623
6613  scaffold_524    5281    5622
6614  scaffold_551    3524    3725

[6615 rows x 3 columns]

In [50]:
wrky_pred_merged_bed=pybedtools.BedTool.from_dataframe(wrky_pred_merged)

In [53]:
c=wrky_pred_merged_bed

In [56]:
a_and_c = a.intersect(c,wb=True)
#print(a_and_c)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [57]:
WRKY_motfi_intersect_c = pybedtools.BedTool.to_dataframe(a_and_c )
WRKY_motfi_intersect_c

,chrom,start,end,name,score,strand,thickStart
0,Gm15,9464054,9464083,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
1,Gm15,9464056,9464085,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
2,Gm15,9464058,9464087,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
3,Gm15,9464060,9464089,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
4,Gm13,21452328,21452357,AGAGAGAGAGAGAGAGAGAGAGAGAGAGAG,Gm13,21452022,21452583
...,...,...,...,...,...,...,...
675240,Gm15,38705253,38705265,ctttaactaacat,Gm15,38705059,38705610
675241,Gm17,2018875,2018885,GGCCACGCCCA,Gm17,2018810,2019571
675242,Gm15,8438973,8438983,AGCCACACGCC,Gm15,8438942,8439523
675243,Gm17,38313014,38313024,GTCCACGAGGG,Gm17,38312908,38313129
675244,Gm05,38823780,38823790,GTCCACGAGGG,Gm05,38823619,38824000

In [ ]:
promtoer_split = pd.DataFrame(df_WRKY_pred .tgenes.str.split('::',2).tolist(),columns=['gene','location1'])

promtoer_split