In [1]:
import pandas as pd
import numpy as np
from io import StringIO 
import pyranges as pr
from numpy import array
import pybedtools

In [2]:
fimo_pred = pd.read_csv("DEm_fimo_5999.tsv",sep="\t",header=0)
fimo_pred

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
0,MA1403.1,BPC5,Gm04,688039.0,688068.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
1,MA1403.1,BPC5,Gm04,688041.0,688070.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
2,MA1403.1,BPC5,Gm19,5992817.0,5992846.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
3,MA1403.1,BPC5,Gm10,6390479.0,6390508.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
4,MA1403.1,BPC5,Gm10,6390481.0,6390510.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
...,...,...,...,...,...,...,...,...,...,...
2821886,MA1834.1,Zm00001d034298,Gm09,44942488.0,44942498.0,-,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821887,MA1834.1,Zm00001d034298,Gm02,48411270.0,48411280.0,+,10.3636,1.000000e-04,1.000000e+00,AGCCACACGCC
2821888,# FIMO (Find Individual Motif Occurrences): Ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821889,# The format of this file is described at http...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821890,# fimo --parse-genomic-coord --o DE_promoters ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
fimo_pred = fimo_pred.dropna(axis=0)
fimo_pred

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
0,MA1403.1,BPC5,Gm04,688039.0,688068.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
1,MA1403.1,BPC5,Gm04,688041.0,688070.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
2,MA1403.1,BPC5,Gm19,5992817.0,5992846.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
3,MA1403.1,BPC5,Gm10,6390479.0,6390508.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
4,MA1403.1,BPC5,Gm10,6390481.0,6390510.0,+,59.0000,7.500000e-19,6.930000e-14,agagagagagagagagagagagagagagag
...,...,...,...,...,...,...,...,...,...,...
2821883,MA1834.1,Zm00001d034298,Gm13,39338814.0,39338824.0,+,10.3636,1.000000e-04,1.000000e+00,CGCCACGCCAG
2821884,MA1834.1,Zm00001d034298,Gm10,39720107.0,39720117.0,+,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821885,MA1834.1,Zm00001d034298,Gm10,40207250.0,40207260.0,-,10.3636,1.000000e-04,1.000000e+00,GGCCACGCCGA
2821886,MA1834.1,Zm00001d034298,Gm09,44942488.0,44942498.0,-,10.3636,1.000000e-04,1.000000e+00,GTCCACGAGGG
2821887,MA1834.1,Zm00001d034298,Gm02,48411270.0,48411280.0,+,10.3636,1.000000e-04,1.000000e+00,AGCCACACGCC

In [46]:
RAV_fimo=fimo_pred[fimo_pred['motif_alt_id'].str.contains("RAV")]
RAV_fimo

,motif_id,motif_alt_id,sequence_name,start,stop,strand,score,p-value,q-value,matched_sequence
29864,MA0582.1,RAV1,Gm08,63081.0,63092.0,+,14.9326,6.850000e-08,0.204,CAGCAACAGAAA
29865,MA0582.1,RAV1,Gm05,37802059.0,37802070.0,+,14.9326,6.850000e-08,0.204,CAGCAACAGAAA
29866,MA0582.1,RAV1,Gm06,45958552.0,45958563.0,+,14.9326,6.850000e-08,0.204,CAGCAACAGAAA
29867,MA0582.1,RAV1,Gm18,55495344.0,55495355.0,+,14.9326,6.850000e-08,0.204,CAGCAACAGAAA
29875,MA0582.1,RAV1,Gm09,1946392.0,1946403.0,-,14.9326,6.850000e-08,0.204,CAGCAACAGAAA
...,...,...,...,...,...,...,...,...,...,...
2817248,MA0582.1,RAV1,Gm14,45163870.0,45163881.0,-,10.8539,9.980000e-05,0.720,ATGCAACAAATG
2817249,MA0582.1,RAV1,Gm20,46450776.0,46450787.0,-,10.8539,9.980000e-05,0.720,GGCCAACAGTTA
2817250,MA0582.1,RAV1,Gm01,48819435.0,48819446.0,-,10.8539,9.980000e-05,0.720,GAGCAACAAAGA
2817251,MA0582.1,RAV1,Gm01,49588689.0,49588700.0,-,10.8539,9.980000e-05,0.720,TAGCAACATTAG
2817252,MA0582.1,RAV1,Gm01,55283474.0,55283485.0,-,10.8539,9.980000e-05,0.720,CAACAACAGAGA

In [47]:
fimo_pred_bed=RAV_fimo.drop(["motif_id","p-value","q-value","q-value","strand","score","matched_sequence"], axis=1)
fimo_pred_bed["start"]= (fimo_pred_bed["start"]).astype(int)
fimo_pred_bed["stop"]= (fimo_pred_bed["stop"]).astype(int)

fimo_pred_bed=fimo_pred_bed[["sequence_name","start","stop","motif_alt_id"]]
fimo_pred_bed

        sequence_name     start      stop motif_alt_id
29864            Gm08     63081     63092         RAV1
29865            Gm05  37802059  37802070         RAV1
29866            Gm06  45958552  45958563         RAV1
29867            Gm18  55495344  55495355         RAV1
29875            Gm09   1946392   1946403         RAV1
...               ...       ...       ...          ...
2817248          Gm14  45163870  45163881         RAV1
2817249          Gm20  46450776  46450787         RAV1
2817250          Gm01  48819435  48819446         RAV1
2817251          Gm01  49588689  49588700         RAV1
2817252          Gm01  55283474  55283485         RAV1

[7170 rows x 4 columns]

In [53]:
fimo_motif_scan_bed_rav = pybedtools.BedTool.from_dataframe(fimo_pred_bed)\
              .saveas('fimo_pred_RAV_5999DEG.bed')
#print(fimo_motif_scan_bed)

In [54]:
a=fimo_motif_scan_bed_rav

In [55]:
wrky_10w_pred = pybedtools.BedTool('RAV_10W_DEG5999_target_windows_0.8thresh.bed')


b=wrky_10w_pred
b

In [56]:
a_and_b = a.intersect(b,wb=True)

In [57]:
WRKY_motfi_intersect = pybedtools.BedTool.to_dataframe(a_and_b)
WRKY_motfi_intersect

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm08,63081,63087,RAV1,Gm08,62886,63087,Glyma.08G000800
1,Gm08,63081,63092,RAV1,Gm08,62896,63097,Glyma.08G000800
2,Gm08,63081,63092,RAV1,Gm08,62906,63107,Glyma.08G000800
3,Gm05,37802059,37802063,RAV1,Gm05,37801862,37802063,Glyma.05G192700
4,Gm05,37802059,37802070,RAV1,Gm05,37801872,37802073,Glyma.05G192700
...,...,...,...,...,...,...,...,...
30951,Gm01,55283474,55283485,RAV1,Gm01,55283355,55283556,Glyma.01G210400
30952,Gm01,55283474,55283485,RAV1,Gm01,55283365,55283566,Glyma.01G210400
30953,Gm01,55283474,55283485,RAV1,Gm01,55283375,55283576,Glyma.01G210400
30954,Gm01,55283474,55283485,RAV1,Gm01,55283385,55283586,Glyma.01G210400
30955,Gm01,55283474,55283485,RAV1,Gm01,55283435,55283636,Glyma.01G210400

In [58]:
WRKY_motfi_intersect.to_csv('RAV_pred_fimo_overlap_nofilt.csv')

In [59]:
df = WRKY_motfi_intersect.drop_duplicates(subset='end', keep="first")
df

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm08,63081,63087,RAV1,Gm08,62886,63087,Glyma.08G000800
1,Gm08,63081,63092,RAV1,Gm08,62896,63097,Glyma.08G000800
3,Gm05,37802059,37802063,RAV1,Gm05,37801862,37802063,Glyma.05G192700
4,Gm05,37802059,37802070,RAV1,Gm05,37801872,37802073,Glyma.05G192700
5,Gm06,45958552,45958563,RAV1,Gm06,45958467,45958668,Glyma.06G272900
...,...,...,...,...,...,...,...,...
30904,Gm09,19068267,19068278,RAV1,Gm09,19068166,19068367,Glyma.09G104200
30916,Gm20,46450776,46450787,RAV1,Gm20,46450591,46450792,Glyma.20G231600
30926,Gm01,48819435,48819446,RAV1,Gm01,48819263,48819464,Glyma.01G143500
30932,Gm01,49588689,49588700,RAV1,Gm01,49588542,49588743,Glyma.01G147700
30948,Gm01,55283474,55283485,RAV1,Gm01,55283285,55283486,Glyma.01G210400

In [62]:
df.to_csv('RAV_pred_fimo_overlap_repeat_motifs_removed.csv')

In [61]:
df4 = df.drop_duplicates(subset='thickEnd', keep="first")
df4

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm08,63081,63087,RAV1,Gm08,62886,63087,Glyma.08G000800
3,Gm05,37802059,37802063,RAV1,Gm05,37801862,37802063,Glyma.05G192700
5,Gm06,45958552,45958563,RAV1,Gm06,45958467,45958668,Glyma.06G272900
7,Gm18,55495344,55495355,RAV1,Gm18,55495158,55495359,Glyma.18G268200
17,Gm09,1946392,1946403,RAV1,Gm09,1946308,1946509,Glyma.09G024100
...,...,...,...,...,...,...,...,...
30783,Gm01,55881292,55881303,RAV1,Gm01,55881118,55881319,Glyma.01G217600
30817,Gm07,1707373,1707384,RAV1,Gm07,1707196,1707397,Glyma.07G022000
30854,Gm06,12076288,12076293,RAV1,Gm06,12076092,12076293,Glyma.06G148400
30916,Gm20,46450776,46450787,RAV1,Gm20,46450591,46450792,Glyma.20G231600
30948,Gm01,55283474,55283485,RAV1,Gm01,55283285,55283486,Glyma.01G210400

In [63]:
df4.to_csv('RAV_pred_fimo_overlap_unique_gene.csv')

In [38]:
df = WRKY_motfi_intersect.drop_duplicates(subset='start', keep="first")
df

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
19,Gm16,18817401,18817414,BPC5,Gm16,18817401,18817602,Glyma.16G096600
20,Gm16,18817411,18817414,BPC5,Gm16,18817411,18817612,Glyma.16G096600
21,Gm16,18817387,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
...,...,...,...,...,...,...,...,...
3175620,Gm18,1375707,1375718,Zm00001d038683,Gm18,1375589,1375790,Glyma.18G018800
3175625,Gm06,16534868,16534879,Zm00001d038683,Gm06,16534769,16534970,Glyma.06G189500
3175706,Gm17,2018875,2018881,Zm00001d034298,Gm17,2018680,2018881,Glyma.17G027300
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800
3175719,Gm10,40207250,40207260,Zm00001d034298,Gm10,40207104,40207305,Glyma.10G166600

In [39]:
df2 = df.drop_duplicates(subset='end', keep="first")
df2

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3175608,Gm13,26081138,26081152,E2FC,Gm13,26081048,26081249,Glyma.13G152814
3175620,Gm18,1375707,1375718,Zm00001d038683,Gm18,1375589,1375790,Glyma.18G018800
3175625,Gm06,16534868,16534879,Zm00001d038683,Gm06,16534769,16534970,Glyma.06G189500
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800
3175719,Gm10,40207250,40207260,Zm00001d034298,Gm10,40207104,40207305,Glyma.10G166600

In [40]:
df3 = df2.drop_duplicates(subset='strand', keep="first")
df3

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3174700,Gm16,1997196,1997201,ATHB-53,Gm16,1997000,1997201,Glyma.16G021300
3174716,Gm16,1997200,1997206,ATHB-53,Gm16,1997200,1997401,Glyma.16G021300
3174939,Gm08,14568531,14568535,RAP2-11,Gm08,14568531,14568732,Glyma.08G180800
3175595,Gm15,50118682,50118692,SGR5,Gm15,50118491,50118692,Glyma.15G253000
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800

In [41]:
df4 = df3.drop_duplicates(subset='thickStart', keep="first")
df4

,chrom,start,end,name,score,strand,thickStart,thickEnd
0,Gm16,18817385,18817412,BPC5,Gm16,18817211,18817412,Glyma.16G096600
18,Gm16,18817391,18817414,BPC5,Gm16,18817391,18817592,Glyma.16G096600
42,Gm07,1707400,1707407,BPC5,Gm07,1707206,1707407,Glyma.07G022000
62,Gm07,1707406,1707429,BPC5,Gm07,1707406,1707607,Glyma.07G022000
134,Gm07,1707408,1707417,BPC5,Gm07,1707216,1707417,Glyma.07G022000
...,...,...,...,...,...,...,...,...
3174700,Gm16,1997196,1997201,ATHB-53,Gm16,1997000,1997201,Glyma.16G021300
3174716,Gm16,1997200,1997206,ATHB-53,Gm16,1997200,1997401,Glyma.16G021300
3174939,Gm08,14568531,14568535,RAP2-11,Gm08,14568531,14568732,Glyma.08G180800
3175595,Gm15,50118682,50118692,SGR5,Gm15,50118491,50118692,Glyma.15G253000
3175713,Gm17,38313014,38313019,Zm00001d034298,Gm17,38312818,38313019,Glyma.17G228800

In [44]:


df4.to_csv('RAV_pred_fio_overlap.csv')

In [11]:
RAV_pred = pd.read_csv("~/Documents/ABI/synet/Chapter06/cross_soy_mod/pred/DEG_soy_WRKY/soy_WRKY_stride_10/soy_WKRY_DEG5999_target_windows_201bp_0.8thresh_10stride.bed",sep="\t",header=0)
RAV_pred

               Gm01  306002  306203  Glyma.01G002200
0              Gm01  306752  306953  Glyma.01G002200
1              Gm01  306762  306963  Glyma.01G002200
2              Gm01  306772  306973  Glyma.01G002200
3              Gm01  306782  306983  Glyma.01G002200
4              Gm01  348529  348730  Glyma.01G002902
...             ...     ...     ...              ...
91385  scaffold_524    5361    5562    Glyma.U039300
91386  scaffold_524    5401    5602    Glyma.U039300
91387  scaffold_524    5411    5612    Glyma.U039300
91388  scaffold_524    5421    5622    Glyma.U039300
91389  scaffold_551    3524    3725    Glyma.U039500

[91390 rows x 4 columns]

In [49]:
wrky_pred_merged = pd.read_csv("~/Documents/ABI/synet/Chapter06/cross_soy_mod/pred/DEG_soy_WRKY/merged_wrly_10_pred.bed",sep="\t",header=0)
wrky_pred_merged

              Gm01  306002  306203
0             Gm01  306752  306983
1             Gm01  348529  348900
2             Gm01  349399  349730
3             Gm01  428387  428588
4             Gm01  441150  441391
...            ...     ...     ...
6610  scaffold_138   22822   23123
6611  scaffold_138   23682   23963
6612  scaffold_138   24322   24623
6613  scaffold_524    5281    5622
6614  scaffold_551    3524    3725

[6615 rows x 3 columns]

In [50]:
wrky_pred_merged_bed=pybedtools.BedTool.from_dataframe(wrky_pred_merged)

In [53]:
c=wrky_pred_merged_bed

In [56]:
a_and_c = a.intersect(c,wb=True)
#print(a_and_c)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [57]:
WRKY_motfi_intersect_c = pybedtools.BedTool.to_dataframe(a_and_c )
WRKY_motfi_intersect_c

,chrom,start,end,name,score,strand,thickStart
0,Gm15,9464054,9464083,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
1,Gm15,9464056,9464085,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
2,Gm15,9464058,9464087,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
3,Gm15,9464060,9464089,agagagagagagagagagagagagagagag,Gm15,9463778,9464819
4,Gm13,21452328,21452357,AGAGAGAGAGAGAGAGAGAGAGAGAGAGAG,Gm13,21452022,21452583
...,...,...,...,...,...,...,...
675240,Gm15,38705253,38705265,ctttaactaacat,Gm15,38705059,38705610
675241,Gm17,2018875,2018885,GGCCACGCCCA,Gm17,2018810,2019571
675242,Gm15,8438973,8438983,AGCCACACGCC,Gm15,8438942,8439523
675243,Gm17,38313014,38313024,GTCCACGAGGG,Gm17,38312908,38313129
675244,Gm05,38823780,38823790,GTCCACGAGGG,Gm05,38823619,38824000

In [ ]:
promtoer_split = pd.DataFrame(df_WRKY_pred .tgenes.str.split('::',2).tolist(),columns=['gene','location1'])

promtoer_split