In [1]:
import pandas as pd
import numpy as np
from io import StringIO 
import pyranges as pr

In [2]:
WRKY_pred = pd.read_csv("soy_WRKY_201bp_targets_DEG5999_0612_thres08_windowloc_w10.csv",header=0)
print(WRKY_pred  )

           n                                 tgenes  indexarray
0          0    Glyma.01G002200::Gm01:306002-308002           0
1          1    Glyma.01G002200::Gm01:306002-308002         750
2          2    Glyma.01G002200::Gm01:306002-308002         760
3          3    Glyma.01G002200::Gm01:306002-308002         770
4          4    Glyma.01G002200::Gm01:306002-308002         780
...      ...                                    ...         ...
91386  91386  Glyma.U039300::scaffold_524:3941-5941        1420
91387  91387  Glyma.U039300::scaffold_524:3941-5941        1460
91388  91388  Glyma.U039300::scaffold_524:3941-5941        1470
91389  91389  Glyma.U039300::scaffold_524:3941-5941        1480
91390  91390  Glyma.U039500::scaffold_551:3434-5434          90

[91391 rows x 3 columns]

In [3]:
df_WRKY_pred =WRKY_pred .drop(['n'],axis=1)
df_WRKY_pred

                                      tgenes  indexarray
0        Glyma.01G002200::Gm01:306002-308002           0
1        Glyma.01G002200::Gm01:306002-308002         750
2        Glyma.01G002200::Gm01:306002-308002         760
3        Glyma.01G002200::Gm01:306002-308002         770
4        Glyma.01G002200::Gm01:306002-308002         780
...                                      ...         ...
91386  Glyma.U039300::scaffold_524:3941-5941        1420
91387  Glyma.U039300::scaffold_524:3941-5941        1460
91388  Glyma.U039300::scaffold_524:3941-5941        1470
91389  Glyma.U039300::scaffold_524:3941-5941        1480
91390  Glyma.U039500::scaffold_551:3434-5434          90

[91391 rows x 2 columns]

In [4]:
promtoer_split = pd.DataFrame(df_WRKY_pred .tgenes.str.split('::',2).tolist(),columns=['gene','location1'])

promtoer_split

                  gene               location1
0      Glyma.01G002200      Gm01:306002-308002
1      Glyma.01G002200      Gm01:306002-308002
2      Glyma.01G002200      Gm01:306002-308002
3      Glyma.01G002200      Gm01:306002-308002
4      Glyma.01G002200      Gm01:306002-308002
...                ...                     ...
91386    Glyma.U039300  scaffold_524:3941-5941
91387    Glyma.U039300  scaffold_524:3941-5941
91388    Glyma.U039300  scaffold_524:3941-5941
91389    Glyma.U039300  scaffold_524:3941-5941
91390    Glyma.U039500  scaffold_551:3434-5434

[91391 rows x 2 columns]

In [5]:
pr_loc_split = pd.DataFrame(promtoer_split.location1.str.split(':',2).tolist(),columns=['chrom','location'])
pr_loc_split

              chrom       location
0              Gm01  306002-308002
1              Gm01  306002-308002
2              Gm01  306002-308002
3              Gm01  306002-308002
4              Gm01  306002-308002
...             ...            ...
91386  scaffold_524      3941-5941
91387  scaffold_524      3941-5941
91388  scaffold_524      3941-5941
91389  scaffold_524      3941-5941
91390  scaffold_551      3434-5434

[91391 rows x 2 columns]

In [6]:
prom_cod = pd.DataFrame(pr_loc_split.location.str.split('-',2).tolist(),columns=['start','end'])
prom_cod

        start     end
0      306002  308002
1      306002  308002
2      306002  308002
3      306002  308002
4      306002  308002
...       ...     ...
91386    3941    5941
91387    3941    5941
91388    3941    5941
91389    3941    5941
91390    3434    5434

[91391 rows x 2 columns]

In [7]:
promoter_wnd=pd.concat([df_WRKY_pred ,promtoer_split,pr_loc_split,prom_cod],axis=1)
 
promoter_wnd

,tgenes,indexarray,gene,location1,chrom,location,start,end
0,Glyma.01G002200::Gm01:306002-308002,0,Glyma.01G002200,Gm01:306002-308002,Gm01,306002-308002,306002,308002
1,Glyma.01G002200::Gm01:306002-308002,750,Glyma.01G002200,Gm01:306002-308002,Gm01,306002-308002,306002,308002
2,Glyma.01G002200::Gm01:306002-308002,760,Glyma.01G002200,Gm01:306002-308002,Gm01,306002-308002,306002,308002
3,Glyma.01G002200::Gm01:306002-308002,770,Glyma.01G002200,Gm01:306002-308002,Gm01,306002-308002,306002,308002
4,Glyma.01G002200::Gm01:306002-308002,780,Glyma.01G002200,Gm01:306002-308002,Gm01,306002-308002,306002,308002
...,...,...,...,...,...,...,...,...
91386,Glyma.U039300::scaffold_524:3941-5941,1420,Glyma.U039300,scaffold_524:3941-5941,scaffold_524,3941-5941,3941,5941
91387,Glyma.U039300::scaffold_524:3941-5941,1460,Glyma.U039300,scaffold_524:3941-5941,scaffold_524,3941-5941,3941,5941
91388,Glyma.U039300::scaffold_524:3941-5941,1470,Glyma.U039300,scaffold_524:3941-5941,scaffold_524,3941-5941,3941,5941
91389,Glyma.U039300::scaffold_524:3941-5941,1480,Glyma.U039300,scaffold_524:3941-5941,scaffold_524,3941-5941,3941,5941
91390,Glyma.U039500::scaffold_551:3434-5434,90,Glyma.U039500,scaffold_551:3434-5434,scaffold_551,3434-5434,3434,5434

In [8]:
df_promoter_wnd=promoter_wnd.drop(['tgenes','location1','location'], axis=1)

#convert string data type to int
df_promoter_wnd['start']=df_promoter_wnd['start'].astype(int)
df_promoter_wnd['end']=df_promoter_wnd['end'].astype(int)
print(df_promoter_wnd)

       indexarray             gene         chrom   start     end
0               0  Glyma.01G002200          Gm01  306002  308002
1             750  Glyma.01G002200          Gm01  306002  308002
2             760  Glyma.01G002200          Gm01  306002  308002
3             770  Glyma.01G002200          Gm01  306002  308002
4             780  Glyma.01G002200          Gm01  306002  308002
...           ...              ...           ...     ...     ...
91386        1420    Glyma.U039300  scaffold_524    3941    5941
91387        1460    Glyma.U039300  scaffold_524    3941    5941
91388        1470    Glyma.U039300  scaffold_524    3941    5941
91389        1480    Glyma.U039300  scaffold_524    3941    5941
91390          90    Glyma.U039500  scaffold_551    3434    5434

[91391 rows x 5 columns]

In [9]:
df_promoter_wnd["windowstart"]=df_promoter_wnd["start"]+df_promoter_wnd["indexarray"]
df_promoter_wnd["windowend"]=df_promoter_wnd["windowstart"]+201
df_promoter_wnd

,indexarray,gene,chrom,start,end,windowstart,windowend
0,0,Glyma.01G002200,Gm01,306002,308002,306002,306203
1,750,Glyma.01G002200,Gm01,306002,308002,306752,306953
2,760,Glyma.01G002200,Gm01,306002,308002,306762,306963
3,770,Glyma.01G002200,Gm01,306002,308002,306772,306973
4,780,Glyma.01G002200,Gm01,306002,308002,306782,306983
...,...,...,...,...,...,...,...
91386,1420,Glyma.U039300,scaffold_524,3941,5941,5361,5562
91387,1460,Glyma.U039300,scaffold_524,3941,5941,5401,5602
91388,1470,Glyma.U039300,scaffold_524,3941,5941,5411,5612
91389,1480,Glyma.U039300,scaffold_524,3941,5941,5421,5622
91390,90,Glyma.U039500,scaffold_551,3434,5434,3524,3725

In [10]:
df_promoter_cod=df_promoter_wnd.drop(['indexarray','start','end'], axis=1)


df_promoter_cod_rearg=df_promoter_cod[["chrom", "windowstart", "windowend","gene"]]
df_promoter_cod_rearg

              chrom  windowstart  windowend             gene
0              Gm01       306002     306203  Glyma.01G002200
1              Gm01       306752     306953  Glyma.01G002200
2              Gm01       306762     306963  Glyma.01G002200
3              Gm01       306772     306973  Glyma.01G002200
4              Gm01       306782     306983  Glyma.01G002200
...             ...          ...        ...              ...
91386  scaffold_524         5361       5562    Glyma.U039300
91387  scaffold_524         5401       5602    Glyma.U039300
91388  scaffold_524         5411       5612    Glyma.U039300
91389  scaffold_524         5421       5622    Glyma.U039300
91390  scaffold_551         3524       3725    Glyma.U039500

[91391 rows x 4 columns]

In [11]:
import pybedtools

fbed = pybedtools.BedTool.from_dataframe(df_promoter_cod_rearg)\
              .saveas('soy_WKRY_DEG5999_target_windows_201bp_0.8thresh_10stride.bed')